@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: -49;
  width: 100%;
  height: 100%;
  top: 0;
}

.gradient {
  height: fit-content;
  z-index: -50;
  width: 100%;
  background-image: 
    radial-gradient(at 80% 21%, hsla(151, 90%, 27%, 1) 0px, transparent 30%),
    radial-gradient(at 52% 99%, hsla(166, 98%, 26%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 16%, hsla(18, 93%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(130, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 70%, hsla(343, 68%, 79%, 0.7) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.2;
  position: fixed;
}

.bg-green {
  background-color: #006736;
}
.text-green {
  color: #006736;
}

.border-green {
  color: #006736;
}

.Shadow {
  filter: drop-shadow(0px 1px 2px rgba(50, 180, 59, 0.2));
}
/* 
.hero {
  object-fit: fit;
  background-image: url('/assets/top_1.jpg');
  filter: grayscale(30%)
} */

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #D7E4DE;
}

::-webkit-scrollbar-thumb {
  background: #006736;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #D9D9D9;
}

/* svg */
.svgContainer {
  width: 100%;
  display: flex;
  place-content: center;
}

.item {
  overflow: vsible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}